/* ProfileSidebar.css */
.profile-sidebar {
  width: 200px;
  background-color: #ffffff;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  position: absolute;
  left: 0;
}

.list-group {
  margin-top: 20px;
}

.sidebar-btn {
  width: 100%;
  margin-bottom: 10px;
  text-align: center; /* Center the text */
  background-color: #ffffff; /* Set background color */
  border: 1px solid #f64b4b; /* Add red border */
  color: #f64b4b; /* Set text color */
}

.sidebar-btn:hover {
  background-color: #f64b4b; /* Change background color on hover */
  color: #ffffff; /* Change text color on hover */
}
