* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;

}



/* Header styles */

.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 75px;
    background-color: #00828c;
    color: white;
    /* position: relative; Add relative positioning */

}

.logo {
    font-size: 30px;
}



/* Desktop navigation links */

.nav-links {
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
    width: 75%;

}



/* Common navigation link styles */

.home,
.events,
.createevent,
.about,
.signup{

    text-decoration: none;
    color: white;
    font-size: 20px;
    padding: 10px 20px;
    margin: 0 10px;
    cursor: pointer;
}
.signup{
    border: 1px solid yellow;
    border-radius: 5px;
}



 .mobile-menu-icon {
    display: none;
}



/* Media query for mobile layout */

@media screen and (max-width: 780px) {
    .logo {
        display: flex;
        position: absolute;
        top: 15px;
        left: 35px;
        
    }
    .nav-links {
        display: none;
    }



    /* Adjusted styles for mobile navigation */

    .nav-links-mobile {

        position: absolute;
        display: block;
        list-style: none;
        background: #005469;
        left: 0;
        top: 75px;
        transition: all 0.5s ease-out;
        width: 100%;

    }

    /* Adjusted styles for mobile navigation links */

    .home,
    .events,
    .about,
    .contact,
    .signup {

        color: white;
        text-align: center;
        padding: 32px;
        width: 100%;
        transition: all 0.5s ease;
    }
    .signup{
        border: none;
    }
    



    /* Mobile menu icon styles */

    .mobile-menu-icon {

        display: block;
        position: absolute;
        font-size: 30px;
        color: white;
        background-color: #00828c;
        border: none;
        outline: none;
        top: 15px;
        right: 25px;
        transform: translateY(-50%);

       
    }

}
